.body {
  background-color: #0f0524;
  color: white;
  border: none;

}

.search {
    position: relative;
    margin: 0 auto;
    width: 800px;
    outline: none;

}

.search input {
    height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 13px;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
}

.card {
  background-color: #0f0524;
  border-width: 0px;
  border-color: #0f0524;
  color: white;
  align-items: center;
  overflow-wrap: normal;
}

.card-body {
  background-color: #0f0524;
  border-width: 0px;
  border-color: #0f0524;
  color: white;
  align-items: center;
  overflow-wrap: normal;
}

.card-title {
    word-wrap: break-word;
}

.container {
  padding: 15px 30px;
  background: '#0f0524',
}
