.body {
  background-color: #0f0524;
  color: white;

}

.search {
    position: relative;
    margin: 0 auto;
    width: 800px;
    margin-top: 10px;
}

.card-body {
  color: black;
}

.search input {
    height: 26px;
    width: 100%;
    background-color: white;
    border-radius: 13px;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
}


.search .results {

    display: block;
    position: absolute;
    background-color: #fdfdfd;
}

.search .results li {
    display: flex;
    align-items: center;
    text-align: left;
    height: 50px;
    cursor: pointer;
}

.search .results li img {
    width: 30px;
    margin-right: 5px;
}

.search .results li:hover {
    background: rgba(88, 85, 85, 0.1);
}
